body {
    font-family: Arial, sans-serif;
}

.board-row{
    min-width: 500px;
    display: flex;
    flex-direction: row;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#player-list ul {
    list-style-type: none;
    padding: 0;
}

#player-list li {
    font-weight: normal;
    padding: 5px;
}

#player-list li.playing {
    color: green;
    font-weight: bold;
}

#player-list li.waiting {
    color: red;
}

/* Define custom colors for each player */
#player-list li.player1 {
    color: blue;
}

#player-list li.player2 {
    color: orange;
}

#player-list li.player3 {
    color: purple;
}

#player-list li.player4 {
    color: teal;
}
.display-none{
    display:none;
}
/* Define custom colors for each player */
.player-1{
    background-color: #ccccf1;
}
.player-2{
    background-color: #ccf1d9;
}
.player-3{
    background-color: #ebaeae;
}
.player-4{
    background-color: #fbefc0;
}
